<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}">Home</a>
	{% block content %}

	{% endblock %}
</body>
</html>